<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Form Tambah Semester SI-BKD</title>
    <object th:include="fragments/fragment :: icon" th:remove="tag"></object>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar(semester)"></nav>

<div class="container-lg p-5 container-first container-last" >
    <div class="row justify-content-center">
        <div class="alert alert-danger w-75" role="alert" th:if="${error}" th:text="${error}"></div>
        <div class="card w-75">
            <form th:action="@{/semester/tambah}" th:object="${jadwalBKD}" method="POST">

                <div class="card-header bg-transparent p-3">
                    <h2 class="card-title text-center">Form Tambah Semester</h2>
                </div>
                <div class="card-body">
                    <input type="hidden" th:field="*{idJadwalBKD}" />
                    <input type="hidden" th:field="*{semester}"/>

                    <!-- Input Semester -->
                    <div th:object="${semester}">
                        <h4 class="semi-bold-h4 text-color-title">Data Semester</h4>
                        <div class="card-text my-3 row">
                            <label class="col-sm-4 col-form-label">Jenis Semester</label>
                            <div class="col-sm-8">
                                <select class="form-select" required name="ganjilGenap">
                                    <option value="1">Ganjil</option>
                                    <option value="2">Genap</option>
                                </select>
                            </div>
                        </div>
                        <div class="card-text my-3 row">
                            <label class="col-sm-4 col-form-label">Nama Semester</label>
                            <div class="col-sm-8">
                                <input class="form-control" type="text" name="namaSemester" required/>
                            </div>
                        </div>
                        <div class="card-text my-3 row">
                            <label class="col-sm-4 col-form-label">Tanggal Dibuka Semester</label>
                            <div class="col-sm-8">
                                <input required class="form-control" type="datetime-local" name="tanggalDibukaSemester"/>
                            </div>
                        </div>
                        <div class="card-text mb-3 row">
                            <label class="col-sm-4 col-form-label">Tanggal Ditutup Semester</label>
                            <div class="col-sm-8">
                                <input required class="form-control" type="datetime-local" name="tanggalDitutupSemester"/>
                            </div>
                        </div>
                    </div>


                    <br><br>

                    <!-- Jadwal Input Laporan BKD -->
                    <h4 class="semi-bold-h4 text-color-title">Jadwal Input Laporan BKD</h4>
                    <div class="card-text my-3 row">
                        <label class="col-sm-4 col-form-label">Tanggal Dibuka</label>
                        <div class="col-sm-8">
                            <input required class="form-control" type="datetime-local" name="tanggalDibukaInputLaporanBKD1"/>
                        </div>
                    </div>
                    <div class="card-text mb-3 row">
                        <label class="col-sm-4 col-form-label">Tanggal Ditutup</label>
                        <div class="col-sm-8">
                            <input required class="form-control" type="datetime-local" name="tanggalDitutupInputLaporanBKD1"/>
                        </div>
                    </div>

                    <br><br>

                    <!-- Jadwal Penilaian oleh Asesor -->
                    <h4 class="semi-bold-h4 text-color-title">Jadwal Penilaian oleh Asesor</h4>
                    <div class="card-text my-3 row">
                        <label class="col-sm-4 col-form-label">Tanggal Dibuka</label>
                        <div class="col-sm-8">
                            <input required class="form-control" type="datetime-local" name="tanggalDibukaPenilaianAsesor2"/>
                        </div>
                    </div>
                    <div class="card-text mb-3 row">
                        <label class="col-sm-4 col-form-label">Tanggal Ditutup</label>
                        <div class="col-sm-8">
                            <input required class="form-control" type="datetime-local" name="tanggalDitutupPenilaianAsesor2"/>
                        </div>
                    </div>

                    <br><br>

                    <!-- Jadwal Perbaikan Ulang BKD -->
                    <h4 class="semi-bold-h4 text-color-title">Jadwal Perbaikan Ulang BKD</h4>
                    <div class="card-text my-3 row">
                        <label class="col-sm-4 col-form-label">Tanggal Dibuka</label>
                        <div class="col-sm-8">
                            <input required class="form-control" type="datetime-local" name="tanggalDibukaPerbaikanLaporanBKD3"/>
                        </div>
                    </div>
                    <div class="card-text mb-3 row">
                        <label class="col-sm-4 col-form-label">Tanggal Ditutup</label>
                        <div class="col-sm-8">
                            <input required class="form-control" type="datetime-local" name="tanggalDitutupPerbaikanLaporanBKD3"/>
                        </div>
                    </div>

                    <br><br>

                    <!-- Jadwal Penilaian Ulang Asesor -->
                    <h4 class="semi-bold-h4 text-color-title">Jadwal Penilaian Ulang Asesor</h4>
                    <div class="card-text my-3 row">
                        <label class="col-sm-4 col-form-label">Tanggal Dibuka</label>
                        <div class="col-sm-8">
                            <input required class="form-control" type="datetime-local" name="tanggalDibukaPenilaianUlangAsesor4"/>
                        </div>
                    </div>
                    <div class="card-text mb-3 row">
                        <label class="col-sm-4 col-form-label">Tanggal Ditutup</label>
                        <div class="col-sm-8">
                            <input required class="form-control" type="datetime-local" name="tanggalDitutupPenilaianUlangAsesor4"/>
                        </div>
                    </div>
                </div>

                <div class="card-footer bg-transparent p-3">
                    <div class="d-grid d-md-flex justify-content-md-end">
                        <a class="button-danger-outline me-md-2" th:href="@{/semester/view-all}">Batal</a>
                        <button type="submit" class="button-success">Tambah</button>
                    </div>
                </div>
            </form>

        </div>

    </div>
</div>

</body>
<footer th:replace="fragments/fragment :: footer-all"></footer>
</html>