<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Form Edit Jadwal BKD</title>
    <object th:include="fragments/fragment :: icon" th:remove="tag"></object>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar(semester)"></nav>

<div class="container-lg p-5 container-first container-last" >
    <div class="row justify-content-center">
        <div class="alert alert-danger w-75" role="alert" th:if="${error}" th:text="${error}"></div>
        <div class="card w-75">
            <form th:action="@{/jadwal-bkd/edit}" th:object="${jadwalBKD}" method="POST">

                <div class="card-header bg-transparent p-3">
                    <h2 class="card-title text-center">Form Edit Jadwal BKD</h2>
                    <h2 class="card-title text-center" th:text="'Semester ' + ${semester.namaSemester}"></h2>
                </div>
                <div class="card-body">
                    <input type="hidden" th:field="*{idJadwalBKD}" />
                    <input type="hidden" th:field="*{semester}" />


                    <!-- Jadwal Input Laporan BKD -->
                    <h5 class="semi-bold-h5 text-color-title">Jadwal Input Laporan BKD</h5>
                    <div class="card-text my-3 row">
                        <label class="col-sm-4 col-form-label">Tanggal Dibuka</label>
                        <div class="col-sm-8">
                            <input required class="form-control" type="datetime-local" th:value="*{tanggalDibukaInputLaporanBKD1}" name="tanggalDibukaInputLaporanBKD1"/>
                        </div>
                    </div>
                    <div class="card-text mb-3 row">
                        <label class="col-sm-4 col-form-label">Tanggal Ditutup</label>
                        <div class="col-sm-8">
                            <input required class="form-control" type="datetime-local" th:value="*{tanggalDitutupInputLaporanBKD1}" name="tanggalDitutupInputLaporanBKD1"/>
                        </div>
                    </div>

                    <br><br>

                    <!-- Jadwal Penilaian oleh Asesor -->
                    <h5 class="semi-bold-h5 text-color-title">Jadwal Penilaian oleh Asesor</h5>
                    <div class="card-text my-3 row">
                        <label class="col-sm-4 col-form-label">Tanggal Dibuka</label>
                        <div class="col-sm-8">
                            <input required class="form-control" type="datetime-local" th:value="*{tanggalDibukaPenilaianAsesor2}" name="tanggalDibukaPenilaianAsesor2"/>
                        </div>
                    </div>
                    <div class="card-text mb-3 row">
                        <label class="col-sm-4 col-form-label">Tanggal Ditutup</label>
                        <div class="col-sm-8">
                            <input required class="form-control" type="datetime-local" th:value="*{tanggalDitutupPenilaianAsesor2}" name="tanggalDitutupPenilaianAsesor2"/>
                        </div>
                    </div>

                    <br><br>

                    <!-- Jadwal Perbaikan Ulang BKD -->
                    <h5 class="semi-bold-h5 text-color-title">Jadwal Perbaikan Ulang BKD</h5>
                    <div class="card-text my-3 row">
                        <label class="col-sm-4 col-form-label">Tanggal Dibuka</label>
                        <div class="col-sm-8">
                            <input required class="form-control" type="datetime-local" th:value="*{tanggalDibukaPerbaikanLaporanBKD3}" name="tanggalDibukaPerbaikanLaporanBKD3"/>
                        </div>
                    </div>
                    <div class="card-text mb-3 row">
                        <label class="col-sm-4 col-form-label">Tanggal Ditutup</label>
                        <div class="col-sm-8">
                            <input required class="form-control" type="datetime-local" th:value="*{tanggalDitutupPerbaikanLaporanBKD3}" name="tanggalDitutupPerbaikanLaporanBKD3"/>
                        </div>
                    </div>

                    <br><br>

                    <!-- Jadwal Penilaian Ulang Asesor -->
                    <h5 class="semi-bold-h5 text-color-title">Jadwal Penilaian Ulang Asesor</h5>
                    <div class="card-text my-3 row">
                        <label class="col-sm-4 col-form-label">Tanggal Dibuka</label>
                        <div class="col-sm-8">
                            <input required class="form-control" type="datetime-local" th:value="*{tanggalDibukaPenilaianUlangAsesor4}" name="tanggalDibukaPenilaianUlangAsesor4"/>
                        </div>
                    </div>
                    <div class="card-text mb-3 row">
                        <label class="col-sm-4 col-form-label">Tanggal Ditutup</label>
                        <div class="col-sm-8">
                            <input required class="form-control" type="datetime-local" th:value="*{tanggalDitutupPenilaianUlangAsesor4}" name="tanggalDitutupPenilaianUlangAsesor4"/>
                        </div>
                    </div>
                </div>

                <div class="card-footer bg-transparent p-3">
                    <div class="d-grid d-md-flex justify-content-md-end">
                        <a class="button-danger-outline me-md-2" th:href="@{/semester/view-all}">Batal</a>
                        <button type="submit" class="button-success">Simpan</button>
                    </div>
                </div>
            </form>

        </div>

    </div>
</div>

</body>
<footer th:replace="fragments/fragment :: footer-all"></footer>
</html>
